@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800&display=swap');

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  color: #121212;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 29px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  cursor: url(https://github.com/graphicsdesk/graphicsdesk.github.io/blob/develop/public/mel-32x32.png?raw=true),
    auto;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #337ab7;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit;
  outline: none;
}

button:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

header {
  font-size: 22px;
  line-height: 29px;
}

@media (max-width: 660px) {
  body {
    font-size: 21px;
    line-height: 27px;
  }

  header {
    font-size: 19px;
    line-height: 26px;
  }
}
